header {
  container-type: inline-size;
  container-name: header;

  @extend %section-default;

  display: flex;
  flex-flow: column nowrap;
  gap: var(--fitz);
  justify-content: center;
  align-items: center;

  .logo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: var(--fitz-half);
    text-align: center;
  }

  .org-repo {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    gap: var(--fitz-half);
    justify-content: center;
  }

  @container header (min-width: 40em) {
    flex-flow: row nowrap;
    justify-content: space-between;

    .logo {
      flex-flow: row nowrap;
      text-align: left;
      gap: 1rem;
    }
  }
}