nav {
  // container-type: inline-size;
  // container-name: nav;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  label {
    // width: 100%;
    align-self: stretch;
    cursor: pointer;
    display: flex;
    // margin: var(--fitz-half);
    margin: 0;
    // padding:  var(--fitz-half);
    padding: var(--fitz);
    justify-content: space-between;

    &::after {
      display: block;
      // align-self: flex-end;
      text-align: right;

      font-family: $font-icon;
      content: 'v';
    }

    &:hover {
      background: $color-key-lighter;
    }
  }

  input {
    display: none;

    &:checked {
      &~label::after {
        content: '^';
      }

      &~ul {
        display: block;
        // transform: scaleY(1);
      }
    }
  }

  ul {
    display: none;
    // transform: scaleY(0);
    transform-origin: top;
    width: 100%;
    margin: 0;
    // padding:  var(--fitz-half);

    li {
      margin: 0;
      padding: 0;
      // margin-left: var(--fitz-2);

      +li {
        // margin-top: var(--fitz);
      }
    }
  }

  a {
    // display: flex;
    display: flex;
    --offset: 1em;
    // line-height: 1.1;
    padding: var(--fitz);
    // padding-left: $offset;
    flex-basis: 100%;

    &::before,
    &::after {
      padding-top: .1em;
      content: ' ';
      display: inline-block;
      width: $offset;
      flex: 0 0 $offset;
      // margin-left: calc($offset * -1);
      font-family: $font-icon;
      text-align: center;

    }

    &[aria-selected="true"] {
      font-weight: 700;

      &::before {
        content: '>';
      }

      &::after {
        content: '<';
      }
    }

    &[aria-current="true"] {
      font-weight: 700;
    }
  }

  // Reverting to Media Query because Nav width depends on content, causing CQ loop/failure.
  @media (min-width: 48em) {
    label {
      &::after {
        font-family: $font-icon;
        content: '^';
      }
    }

    input {
      &:checked {
        &~label::after {
          content: 'v';
        }

        &~ul {
          display: none;
          // transform: scaleY(0);
        }
      }
    }

    ul {
      display: block;
      // transform: scaleY(1);
    }
  }
}