nav.breadcrumbs {
  padding: 0.5em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: var(--link-color);
    display: inline;
    --offset: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    margin: 0 0.5em;
    color: var(--text-color);
  }
}
