  > header {
    grid-area: header; 
    container-type: inline-size;
    container-name: header;

    display: flex;
    flex-flow: column nowrap;
    gap: var(--fitz);
    justify-content: center;
    align-items: center;

    .logo {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: var(--fitz-half);
      text-align: center;
    }

    .org-repo {
      font-size: 1.2rem;
      font-weight: bold;
      display: flex;
      gap: var(--fitz-half);
      justify-content: center;
    }

    @container header (min-width: 40em) {
      flex-flow: row nowrap;
      justify-content: space-between;

      .logo {
        flex-flow: row nowrap;
        text-align: left;
        gap: 1rem;
      }
    }
  }


  > header {
    display: flex;
    flex-flow: row wrap;
    
    > .logo {
      flex: 1;
      a {
        display: block;
        padding: var(--fitz);

        img {
          height: 3em;
          margin: .5em auto;
        }

        h1 {
          font-size: 1.1em;
          letter-spacing: .1em;
          padding-left: .5em;
          text-align: center;
        }
      }
    }

    > nav {
      order: 3;
      flex: 1 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      h1 {
        display: none;
      }

      label::after {
        // display: block;
        width: 100%;
        text-align: center;
      }

      ul {
        // display: flex;
        flex-flow: row wrap;
        // li {
          // flex-basis: auto;
        // }
      }

      a {
        // padding: .25em 1em;
        // margin-left: .1em;
        letter-spacing: .1em;
        text-transform: uppercase;
        justify-content: center;
      }
    }

    > .motto {
      flex: 1;
      padding: var(--fitz);

      p {
        font-size: .8em;
        text-align: center;
      }
    }
  }

@import 'nav';