
  > footer {
    grid-area: footer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    // width: 100%;
    padding-top: 1em;
    border-top: 1px solid var(--border-color);
    margin-top: 1em;
    padding: 1em 0;
    text-align: center;
    font-size: 0.9em;
    color: var(--link-hover-color);
    text-decoration: none;
    border-color: var(--link-hover-color);
    
    // margin: 2rem 0;             /* top and bottom margin */
    padding: .5rem 1rem;       /* padding inside the footer */
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    hr {
      display: none;
    }

  }
