/* elements/admonitions *****************************/

.admonition {
  border-left: 5px solid var(--text-color);
  background-color: var(--bg-alt-color);
  padding: var(--fitz);
  margin: var(--fitz-2) 0;

  .admonition-title {
    color: var(--text-color);
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  // Variations
  &.todo {
    border-color: var(--color-danger);
    .admonition-title { color: var(--color-danger); }
  }

  &.note {
    border-color: var(--color-note);
    .admonition-title { color: var(--color-note); }
  }

  &.warning,
  &.attention,
  &.caution,
  &.important {
    border-color: var(--color-warning);
    .admonition-title { color: var(--color-warning); }
  }

  &.danger,
  &.error {
    border-color: var(--color-danger);
    .admonition-title { color: var(--color-danger); }
  }

  &.hint,
  &.tip {
    border-color: var(--color-success);
    .admonition-title { color: var(--color-success); }
  }
}