/* elements/figure *****************************/
// global img reset
img {
  border-style: none;
  display: block;
}

figure {
  height: auto;
  display: block;

  > img {
    max-width: 100%;
    height: 100%;

    object-fit: contain;
  }

  > figcaption {
    width: 100%;
  }

  &:hover > {
  }
}
