/* elements/forms *****************************/
// Trimmed to only what is used in the themes

button,
input {
  font-family: $font-primary;
  font-size: 100%;
  line-height: 1.15;
  overflow: visible;
}

button {
  text-transform: none;
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

[type="search"] {
  outline-offset: -2px;
}

[hidden] {
  display: none;
}

// Basic text input styling (mostly used by search input override)
input[type=text],
input[type=search] {
  --bg: $color-key-lighter;

  display: block;
  padding: .4em;
  outline: 0 none;
  border: 1px solid var(--color);

  text-align: left;
  color: var(--color);
  background: var(--bg);
  appearance: none;

  width: 100%;
  max-width: 100%;

  &:focus {
    color: var(--color);
  }
  &::placeholder {
  --color: $color-key-dark;
  }
}

// Submit button
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: 0 none;
  border-radius: .5em;

  color: $color-key-lighter;
  background: $color-key;
  padding: .5em;
  margin: .5em 0;
  text-decoration: none;
  &:hover {
    background: $color-key-light;
  }
}

label {
  display: block;
  font-weight: bold;
  font-family: $font-primary;
}

button {
  border: 0 none;
  border-radius: .5em;

  color: $color-key-lighter;
  background: $color-key;
  padding: .5em;
  margin: .5em;
  text-decoration: none;

  &:hover {
    background: $color-key-light;
    text-decoration: none;
  }
}
