/* elements/lists *****************************/
ul, ol, li {
	margin-left: 1em;
}

ul {
	list-style: disc outside;
}

ol {
	list-style: decimal outside;
}

li {
	font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
}
