/* elements/tables *****************************/
table {
	--border-color: var(--text-color);
	max-width: 100%;
}

th,
td {
	padding: calc( var(--fitz) / 2 );
}

th {
	font-weight: 700;

	text-align: right;
}
