/* elements/blockquotes *****************************/
blockquote {
  display: block;
  padding: var(--fitz-2) ;
  // font-size: 1.2em;

  // left vertical rule
  &::before {
    // content: '';
    // height: 100%;
    // width: .1em;
    // display: block;
    // position: absolute;
    // left: 0;
    // top: 0;
  }

  //nested blockquote
  > blockquote {
    // margin: 0;
    // padding-bottom: 0;
    font-style: italic;

    &::before {
      // display: inline;
      // padding-top: var(--fitz-2);
      // background: inherit;
    }
  }

  p {
    position: relative;
    margin-bottom: 0;
    overflow: visible;
  }
}
