/* elements/headings *****************************/
// Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.

h1, h2, h3, h4 {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--heading-color);
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  a.headerlink {
    font-size: 0.8em;
    opacity: 0.3;
    padding-left: 0.5em;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

h1 {
  // font-size: 1.5em;
}

h2 {
  // font-size: 1.3em;
}